backend/testing.ipynb
.vscode/settings.json
backend/inputs.env
*.pyc
/backend/backend
*.json
*.png
*.txt
*.sqlite
*.csv
backend/assets/temp/tmpwiz_2f5usqlite
*.txt
backend/assets/temp/placeholder.txt
